<button-component
  [title]="buttonTitle"
  (click)="displayInput = !displayInput"
></button-component>

<!-- ngIf gets a boolean to show or not the element -->
<input-component *ngIf="displayInput; else hiddenSection"></input-component>

<!-- this element is not rendered by default; # is id; can use conditional to display -->
<ng-template #hiddenSection>
  <h2>Not hidden anymore</h2>

  <h3>Things to learn in angular</h3>
  <ul>
    <li *ngFor="let item of subjectList; let index = index">
      {{ index }} <button (click)="selectItem(index)">{{ item }}</button>
    </li>
  </ul>

  <!-- switch case -->
  <div [ngSwitch]="selectedItem">
    <div *ngSwitchCase="0">
      <h3>{{ subjectList[0] }}</h3>
      <p>
        Components are the main building blocks for Angular applications. Each
        component consists of: An HTML template that declares what renders on
        the page. A TypeScript class that defines behavior. A CSS selector that
        defines how the component is used in a template.
      </p>
    </div>

    <div *ngSwitchCase="1">
      <h3>{{ subjectList[1] }}</h3>
      <p>
        In an Angular template, a binding creates a live connection between a
        part of the UI created from a template (a DOM element, directive, or
        component) and the model (the component instance to which the template
        belongs).
      </p>
    </div>

    <div *ngSwitchCase="2">
      <h3>{{ subjectList[2] }}</h3>
      <p>
        A component instance has a lifecycle that starts when Angular
        instantiates the component class and renders the component view along
        with its child views.
      </p>
    </div>

    <div *ngSwitchCase="3">
      <h3>{{ subjectList[3] }}</h3>
      <p>
        Angular directives offer a great way to encapsulate reusable behaviors—
        directives can apply attributes, CSS classes, and event listeners to an
        element. The directive composition API lets you apply directives to a
        component's host element from within the component TypeScript class.
      </p>
    </div>

    <div *ngSwitchDefault>
      <h3>RODRIGO AKA GOES</h3>
      <p>Did you make love with juice? I don't know, you tell me!</p>
    </div>
  </div>
</ng-template>
